/**
 * 詳細頁CSS
 * @author      xbears<j.koalas@gmail.com>
 * @version     1.0
 * @copyright   2010-2012 Addcn
 * @updatetime  2011-2-18
 */
/*---propNav---*/
body,#main,input{
	font-family: "微軟正黑體", Arial;
	font-size: 13px;
}
#propNav {
	padding:2px 0 0 3px;
	font-size:13px;
}
/*show and tools*/
#show{
	width:374px;
	height:390px;
	float:left;
	border:1px solid #d5d5d5;
	position:relative;
}
#show .viewer{
	width:374px;
	height:269px;
	overflow:hidden;
	margin:auto;
	text-align:center;
}
#show .enlarge{
	height:25px;
	line-height:25px;
	text-align:center;
	border:1px solid #d5d5d5;
	border-left:none;
	border-right:none;
	font-size:13px;
}
#show .thumbnails{
	width:327px;
	height:74px;
	overflow:hidden;
	margin:10px auto;
	text-align:left;
	float:left;
	position:relative;
}
#show .thumbnails ol{
	width:9999px;
	position:absolute;
	top:0;
	outline:none;
}
#show .thumbnails li{
	width:109px;
	text-align:center;
	float:left;
}
#show .thumbnails li a{
	display:block;
	width:96px;
	margin:auto;
}
#show .thumbnails li a img{
	margin:1px;
	cursor:pointer;
	float:left;
}
#show .thumbnails li a:hover{
	/* border:1px solid #fbbf6f; */
}
#show .thumbnails li a.selected,#show .thumbnails li a.selected:hover{
	/* border:1px solid #fbbf6f; */
}
#show .prev_control{
	margin-left:4px;
	_margin-left:2px;
}
#show .prev_control,#show .next_control{
	width:20px;
	height:53px;
	display:block;
	background:url(../../../images/index/house/detail_show_control.gif) no-repeat;
	text-indent:-999px;
	overflow:hidden;
	cursor:pointer;
	float:left;
	margin-top:16px;
	outline-color:#999;
}
#show .next_control{
	background-position:-20px 0;
}
#show b,#show s{
	width:6px;
	height:6px;
	display:block;
	bottom:-1px;
	background:url(../../../images/index/house/detail_show_roundcorners.gif) no-repeat;
	position:absolute;
	left:-1px;
}
#show s{
	left:auto;
	right:-1px;
	background-position:-6px 0;
}
#show .first_control,#show .last_control{
	outline:none;
	cursor:default;
	filter:alpha(opacity=50);
	opacity:0.5;
}
#show .dot{
	position:absolute;
	top:171px;
	left:179px;
	width:16px;
	height:24px;
	background-image:url(../../../images/index/map/dot-s-nomarl_16x24.png);
	*background: none;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='../../../images/index/map/dot-s-nomarl_16x24.png');
}
#tools{
	width:376px;
	height:86px;
	float:left;
	margin-top:12px;
	background:url(../../../images/index/house/detail_tools_bg.png) #ebebeb 0 -50px no-repeat;
}
#tools div.inner{
	margin:10px;
	background-color:#fff;
	padding:12px 12px 0 12px;
	font-size:13px;
}
#tools div.inner div{
	clear:both;
	height:10px;
	overflow:hidden;
}

#tools a.fb_i_act{
	top:45px;
	left:120px;
	position:absolute;
}
#tools a.act-info-link{
	background:none;
	top:60px;
	left:270px;
	font-size:13px;
	position:absolute;
}
#tools .act-view{
	background:url(../../../images/index/activity/shareAct/share-rent-detail.png);
	width:378px;
	height:90px;
}
#tools a.old_style{
	padding-left:20px;
	font-size:13px;
	height:14px;
	margin-right:15px;
	background:url(../../../images/index/house/detail_tools_bg.png) no-repeat;
}

#tools a{
	padding-left:20px;
	font-size:13px;
	height:14px;
	margin-right:15px;
	background:url(../../../images/index/house/detail_tools_bg.png) no-repeat;
}
#tools a.fb_i{
	color:#333;
	background-position:-25px -7px;
}
#tools a.fb_i:hover{
	color:#f60;
}

#tools a.tw_i{
	color:#333;
	background-position:-157px -7px;
}
#tools a.tw_i:hover{
	color:#f60;
}
#tools a.pl_i{
	color:#333;
	background-position:-274px -7px;
}
#tools a.pl_i:hover{
	color:#f60;
}
#tools a.impe_i{
	background-position:-274px -30px;
	*background-position:-274px -32px;
	margin-right:5px;
}

/*==========  頁面底部seo優化   ========== */
#hotSearch{
	background-color: #F6F6F6;
	clear: both;
	float: left;
	margin-top: 17px;
	width: 100%;
	padding-top:5px;
	padding-left:10px;
}
#hotSearch li {
	float:left;
	padding-right:35px;
	height:30px;
	line-height:30px;
}
/*==========  二維碼   ========== */
#td-code,#td-code-other{
	background:#FFF;
	padding:10px 5px;
	margin:10px auto;
}
#td-code-other{
	margin-top:0;
}
#td-code p,#td-code-other p{
	float:left;
}
#td-code .code-study,#td-code-other .code-study{
	background:url(../../../images/index/public/global/code-title-v1.png) no-repeat 5px 0;
	width:98px;
	height:32px;
	padding-top:50px;
	padding-left:5px;
}
#td-code a.code-study-url, #td-code a.code-study-url:visited,#td-code-other a.code-study-url, #td-code-other a.code-study-url:visited{
	background:url(../../../images/index/public/global/code-btn.png) no-repeat;
	width:78px;
	height:24px;
	padding-left:25px;
	line-height:21px;
	color:#525254;
	font-size:13px;
	text-decoration:none;
	float:left;
}
#td-code a.code-study-url:hover,#td-code-other a.code-study-url:hover{
	color:#ff6600;
}

/*--- 40萬租金活動 相關瀏覽物件 ---*/
#shareActUser{
	display:none;
	left:0;
	top:0;
	position:absolute;
	z-index:1000;
}

/*詳細頁改版*/
#header, #main,#tab{
	width: 1200px;
}
#propNav{
	padding-top:20px;
	line-height: 28px;
	padding-bottom: 10px;
}
#propNav a{
	color: #4C4C4C;
}
#propNav a:hover{
	color: #F60;
}
#propNav .change{
	float: right;
	margin-right: 20px;
	margin-top: -8px;
}
#propNav .change a{
	display: block;
	background: url("../../../images/index/house/newVersion/change.png") no-repeat;
	width: 102px;
	height: 28px;
}
.pageView{
	float: right;
	margin-top: 12px;
}
.pageView .pc{
	display: block;
	width: 16px;
	background: url("../../../images/index/house/pc.png")no-repeat;
	vertical-align: middle;
	float: left;
	height: 15px;
	margin-top: 2px;
}
.pageView .mobile{
	display: block;
	width: 9px;
	background: url("../../../images/index/house/mobile.png") no-repeat;
	vertical-align: middle;
	float: left;
	height: 15px;
	margin-top: 2px;
}
.pageView i{
	vertical-align: middle;
	display: block;
	float: left;
	line-height: 15px;
	font-style: inherit;
	margin-top: 2px;
	color: #999;
}
.pageView .line{
	color: #999;
}
.pageView em{
	color: #999;
}
.pageView b{
	vertical-align: -1px;
	margin-bottom: 5px;
	font-size: 20px;
}
#infoTitle{
	clear: both;
}
.main_house_info{
	width: 1200px;
	margin-bottom: 20px;
}
#detail_info{
	padding-bottom: 20px;
	padding-right: 14px;
	border-right:1px solid #e8e8e8;
}
#sidebar{
	width: 222px;
	padding-bottom: 20px;
	z-index: 110;
	position: relative;
	float: right;
}
.clearfix{
	display: block!important;
}
.manage_house,#host_manage,#j_detailupdate,.host_manage_update a,.host_manage_open a{
    position: absolute;
    top:-50px;
    right:0px;
    z-index:1111;
}
#host_manage{
	width: 220px;
	top:-23px;
	z-index:1119;
	background: #fff;
	border:1px solid #bebdbe;
}
#insteadPost{
	width: 200px;
	height: 133px;
	margin:7px auto;
}
.sidebar_img{
	margin:0 auto;
	width: 200px;
}
.newDetail_icon{
	background:url(../../../images/index/house/newVersion/new_detailIcon.png) no-repeat;
}
.manage_house a,#j_detailupdate,.host_manage_update a,.host_manage_open a{
	background-position: -3px -166px;
	height: 28px;
	display: block;
    font-size: 13px;
    overflow: hidden;
    width: 220px;
    line-height: 28px;
    text-align: center;
    border-right:1px solid #bebdbe;
    border-left:1px solid #bebdbe;
}
.manage_house a i{
	background:url(../../../images/index/house/newVersion/new_detailIcon.png) 0px -207px no-repeat;
	padding:4px 10px;
}
#j_detailupdate i,.host_manage_update i{
	background:url(../../../images/index/house/newVersion/new_detailIcon.png) 0px -18px no-repeat;
	padding:4px 10px;
	margin-right: 5px;
}
.manage_oper{
	display: none;
}
.manage_oper a{
	background:url(../../../images/index/house/newVersion/new_detailIcon.png) 60px -10px no-repeat;
	display: block;
	height: 38px;
	line-height: 38px;
	text-align: center;
}
.manage_oper a.ico_order{
    background-position: 60px -48px;
}
.manage_oper a.ico_reposted{
    background-position: 60px -86px;
}
.manage_oper a.ico_witness{
    background-position: 60px -122px;
}
/*20160623改版*/
#newVersion{
	background: #F5F5F5;
	position: relative;
}
.RentSale{
	background: #F5F5F5;
	position: relative;
}
.detailBox{
	/* position: relative; */
}
.detailBox  .leftBox{
	float: left;
	width: 870px;
	margin-right: 10px;
}
.detailBox  .rightBox{
	position: relative;
	float: right;
	width: 320px;
}
/* 2017/06/08 update by <dzq@addcn.com> 打印時禁止右側滾動 */
@media print {
	.detailBox .rightBox{
		position: static !important;
		top: 0 !important;
		right: 0 !important;
	}
}
.houseInfo{
	width: 1200px;
	margin-bottom: 15px;
}
.houseInfo h2{
	float: left;
	font-size: 22px;
}
.houseInfo .houseInfoTitle{
	display: block;
	float: left;
	font-size: 28px;
}
.houseInfo .DealEnd , .houseInfo .DealEnd2{
	display: block;
	border: 1px solid #FF0000;
	float: left;
	margin-left: 20px;
	height: 22px;
	line-height: 22px;
	margin-top: 1px;
	padding: 0 10px;
	color: #FF0000;
}
.operate{
	float: right;
}
.operate li{
	text-align: right;
	float: left;
	margin-left: 33px;
}
.operate .collect{
	background: url("../../../images/index/house/newVersion/collect.png") 0px 3px no-repeat;
	padding-left: 0px;
}
.collect-ready{
	background: url("../../../images/index/house/newVersion/collect2.png") 0px 3px no-repeat !important;
}
.operate .line {
	position: relative;
	background: url(../../../images/index/house/newVersion/line.png) 0 3px no-repeat;
}
.operate .line-qrcode-box {
	display: none;
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 20px;
	width: 190px;
	height: 210px;
	margin-left: -95px;
	padding-top: 19px;
	background: url(../../../images/index/house/newVersion/line-box.png) no-repeat;
	text-align: center;
	font-size: 14px;
	line-height: 1.4;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.operate .line:hover .line-qrcode-box {
	display: block;
}
.operate .fb{
	background: url("../../../images/index/house/newVersion/fb.png") 0px 3px no-repeat;
	padding-left: 0px;
}
.operate .notice{
	background: url("../../../images/index/house/newVersion/notice.png") 0px 3px no-repeat;
	padding-left: 0px;
}
.operate .print{
	background: url("../../../images/index/house/newVersion/print.png") 0px 4px no-repeat;
	padding-left: 0px;
}
.operate li a{
	color: #323232;
	line-height: 28px;
	font-size: 14px;
}
.operate li a:hover{
	color: #F60;

}
.detailBox .imgBox{
	height: 517px;
	width: 100%;
}
.rightBox .detailInfo{
	padding: 15px 20px;
	background: #FFF;
	padding-bottom: 5px;
}
.detailInfo .price .priceChange{
	color: #666666;
}
.detailInfo .price .priceChange:hover{
	text-decoration: none;
}
.detailInfo .price i{
	font-size: 32px;
	color: #FF4214;
	font-style: inherit;
	font-weight: bold;
	display: block;
	float: left;
	line-height: 21px;
	margin-top: 3px;
	margin-right: 15px;
	font-family: Arial;
}
.detailInfo .price i span{
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}
.detailInfo .price b{
	font-weight:normal;
	font-size: 17px;
}
.detailInfo .price .boxPOP{
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	color: #646464;
	display: block;
	float: left;
	margin-right: 20px;
	font-size: 13px;
	padding: 4px 12px;
}
.detailInfo .explain{
	color: #999;
	font-size: 13px;
	margin: 5px 0 10px 0;
}
.detailInfo .attr{
	margin-bottom: 15px;
}
.detailInfo .attr li{
	font-size: 15px;
	background: #F8F8F8;
	margin-bottom: 1px;
	line-height: 32px;
	height: 32px;
	padding-left: 10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color: #666666;
}
.detailInfo .attr li .currentSituation{

}
.detailInfo .attr li a{
	font-size: 15px;
	color: #666666;
	text-decoration: underline;
}
.detailInfo .attr li span{
	font-size: 15px;
	color: #666666;
}
.detailInfo .attr li a:hover{
	font-size: 15px;
	color: #f60;
	text-decoration: underline;
}
.userInfo{
	padding: 15px 20px;
	background: #FFF;
	padding-bottom: 5px;
	margin-top: 10px;
}
.userInfo .filled{
	background: #FF6600;
}
.userInfo .filled .dealinfo span{
	display: block;
	margin: auto;
	text-align: center;
	padding-bottom: 15px;
	color: #FFF;
	font-size: 15px;
}
.userInfo .filled .DealEnd , .userInfo .filled .DealEnd2{
	background: url("../../../images/index/house/newVersion/knockdown.png")0px 10px no-repeat;
	display: block;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	width: 100px;
	margin: auto;
	padding: 12px 0 12px 37px;
}
.userInfo .infoOne{
	margin-bottom: 10px;
}
.userInfo .infoOne .avatar{
	float: left;
	width: 70px;
	height: 70px;
	background: #ABCDEF;
	border-radius: 50px;
	margin-right: 10px;
	overflow: hidden;
}
.userInfo .infoOne .avatarRight{
	float: left;
	margin-top: -8px;
}
.userInfo .infoOne .avatarRight>div{
	height: 30px;
	line-height: 30px;
}
.userInfo .infoOne .avatarRight i{
	display: block;
	float: left;
	font-style: inherit;
	font-size: 18px;
	max-width: 87px;
	color: #000;
	font-weight: bold;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:clip;
}

/* 身份狀態 */
.userInfo .infoOne .avatarRight .tipOne,
.userInfo .infoOne .avatarRight .tip_auth,
.userInfo .infoOne .avatarRight .tip_open{
	width: 62px;
	height: 20px;
	display: block;
	float: left;
	margin-left: 15px;
	margin-top: 4px;
}
.userInfo .infoOne .avatarRight .tipOne{
	background: url("../../../images/index/house/newVersion/userInfoOne.png") no-repeat;
}
.userInfo .infoOne .avatarRight .tip_auth{
	margin-left: 0px;
	background: url("../../../images/index/house/newVersion/no_auth.png") no-repeat;
}
.userInfo .infoOne .avatarRight .tip_open{
	background: url("../../../images/index/house/newVersion/no_open.png") no-repeat;
}
.userInfo .infoOne .avatarRight .tipTwo{
	background: url("../../../images/index/house/newVersion/userInfoTwo.png") no-repeat;
	width: 62px;
	height: 20px;
	display: block;
	float: left;
	margin-left: 8px;
	margin-top: 4px;
}
.userInfo .infoOne .avatarRight .tipTwo em{
	display: block;
	margin-left: 23px;
	margin-top: -5px;
	font-size: 12px;
	color: #62B3FF;
}
.userInfo .infoOne .auatarSon{
	color: #858585;
	position: relative;
	z-index: 99;
}
.userInfo .infoOne .auatarSon span{
	float: left;
	max-width: 152px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.userInfo .infoOne .auatarSon a{
	float: left;
	display: block;
	margin-left: 20px;
}
.userInfo .infoOne .auatarSonBox{
	display: none;
	background: #FFF5E5;
	border: 1px solid #FFC970;
	position: absolute;
	color: #5C5B56;
	z-index: 100;
	top:25px;
	width: 258px;
	padding: 10px 10px;
	left: -80px;
}
.userInfo .auatarSonBox p{
	line-height: 20px;
}
.userInfo .infoTwo{
	margin-bottom: 10px;
}
.userInfo .hidEmail{
	display: none;
	width: 278px;
	height: 42px;
	color: #858585;
	font-size: 15px;
	position: absolute;
	line-height: 42px;
	background: #FFF6E4;
	border: 1px solid #FFCA70;
	text-align: center;
	top: 39px;;
}
.userInfo .hidtel{
	display: none;
	width: 278px;
	height: 42px;
	color: #858585;
	font-size: 15px;
	position: absolute;
	line-height: 42px;
	background: #FFF6E4;
	border: 1px solid #FFCA70;
	text-align: center;
	top: 39px;
	z-index: 10;
}
#avaterInfo{
	color: #858585;
	text-decoration: underline;
}
#avaterInfo:hover{
	color: #F60;
	position: relative;
}
.userInfo .infoTwo{
	background: #FF641C;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	padding: 7px 0;
	position: relative;
}
.userInfo .infoTwo .mobile{
	background: url("../../../images/index/house/newVersion/mobile.png") no-repeat #FF641C;
	margin-left: 35px;
	height: 34px;
	width: 34px;
	display: block;
	float: left;
}
.userInfo .infoTwo .tel{
	background: url("../../../images/index/house/newVersion/noTel.png") no-repeat #FF641C;
	margin-left: 40px;
	height: 34px;
	width: 34px;
	display: block;
	float: left;
}
.userInfo .infoTwo .num{
	display: block;
	text-align: left;
	margin-left: 15px;
	float: left;
	font-size: 22px;
	font-weight: bold;
	width: 160px;
	line-height: 34px;
	position: relative;
}
.userInfo .infoTwo .showPox{
	position: absolute;
	font-size: 13px;
	right: 10px;
	bottom: 10px;
	display: block;
	cursor: pointer;
}
.userInfo .connect{
	width: 280px;
	margin-bottom: 5px;
	position: relative;
	border: 1px solid #e4e3e3;
}
.userInfo .connect > a{
	display: block;
	height: 40px;
	line-height: 40px;
	float: left;
	width: 50%;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	color: #333;
	text-decoration: none;
}
.userInfo .connect > a:first-child {
	border-right: 1px solid #e4e3e3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.userInfo .connect > a.no {
	color: #999999;
	cursor:url('../../../images/index/house/newVersion/step_03.png'),-moz-zoom-out;
	cursor:url('../../../images/index/house/newVersion/step_03.png'),auto;
}
.userInfo .connect i {
	display: inline-block;
	width: 20px;
	height: 16px;
	vertical-align: -2px;
	margin-right: 3px;
	background: url('../../../images/index/house/newVersion/info-icon.png') no-repeat;
}
.userInfo .connectOne i {
	background-position: 0 0;
}
.userInfo .connectTwo i {
	background-position: 0 -16px;
}
.userInfo .connectThree i {
	background-position: 0 -32px;
}
.userInfo .connectOne.no i {
	background-position: 0 -48px;

}
.userInfo .connectTwo.no i {
	background-position: 0 -64px;
}
.rightBox .danger{
	background: url("../../../images/index/house/newVersion/danger.png")  5px 10px  no-repeat #FFF;
	height: 14px;
	font-size: 12px;
	padding: 10px 0 20px 24px;
	color: #666666;
	margin-bottom: 10px;
}

#td-code,#td-code-other{
	background:#FFF;
	padding:10px 5px;
	margin:10px auto;
}
#td-code-others{
	margin-top: 8px;
	background: #FFF;
}
#td-code-others p{
	float:left;
	padding: 15px 0 15px 50px;
}
#td-code-others .code-study{
	background:url(../../../images/index/house/newVersion/font.png) no-repeat 5px 0;
	width: 94px;
	height: 41px;
	padding-top:50px;
	padding-left:5px;
	margin-top: 25px;
	margin-left: 15px;
}
#td-code-others img{
	border: 8px solid #EDF2F1;
}
#td-code-others a.code-study-url, #td-code-others a.code-study-url:visited{
	width:92px;
	height:26px;
	line-height:26px;
	color:#5D5D5D;
	font-size:13px;
	text-align: center;
	display: block;
	border-radius: 4px;
	text-decoration:none;
	border: 1px solid #DCDCDC;
}
#td-code-others a.code-study-url:hover{
	color:#ff6600;
}
.leftBox .labelList{
	padding: 15px  25px;
	background: #FFF;
}
.leftBox .labelList li{
	float: left;
	width: 33.33333%;
	font-size: 15px;
	height: 32px;
	line-height: 32px;
}
.leftBox .labelList li div{
	float: left;
}
.leftBox .labelList li .one{
	width: 62px;
	overflow:hidden;
	font-size: 15px;
	height:32px;
	text-align:justify;
	color: #999999;
	text-align-last:justify;
}

.leftBox .labelList li .one:after{
	display:inline-block;
	content:'';
	overflow:hidden;
	width:100%;
	height:0;
}
.leftBox .labelList li .two{
	color: #000000;
	font-size: 15px;
	width: 208px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.leftBox .labelList li .two span{
	color: #999999;
}
.leftBox .listTitle{
	margin-top: 10px;
	background: #FFF;
	padding-left: 25px;
	padding-top: 25px;
	padding-right: 25px;
	font-size: 20px;
	color: #000;
}
.leftBox .others{
	margin-top: 10px;
	background: #FFF;
	padding-top: 25px;
	color: #000;
}
.leftBox .others span{
	font-size: 20px;
	margin-left: 25px;
	width: 100%;
	padding-bottom: 3px;
	border-bottom: 2px solid #FF641C;
}
.leftBox .others i{
	border-bottom: 2px solid #F4F4F4;
	display: block;
	padding-bottom: 3px;
	margin: 0px 25px;
}
.leftBox .facility{
	background: #FFF;
	padding: 15px 25px;
}
.leftBox .facility li{
	width: 20%;
	float: left;
	line-height: 26px;
	margin-bottom: 10px;
	color: #000000;
	font-size: 15px;
}
.leftBox .facility li span{
	display: block;
	background: url("../../../images/index/house/newVersion/AllICON.png") no-repeat;
	float: left;
	margin-right: 10px;
}
.leftBox .facility li .hometools_5{
	background-position: 0px 0px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .hometools_4{
	background-position: -30px 0px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .hometools_7{
	background-position: -60px 0px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .hometools_1{
	background-position: -90px 0px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .hometools_3{
	background-position: -120px 0px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .fixture_7{
	background-position: -0px -26px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .fixture_5{
	background-position: -30px -26px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .fixture_4{
	background-position: -60px -26px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .fixture_6{
	background-position: -90px -26px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .fixture_1{
	background-position: -120px -26px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .fixture_14{
	background-position: -0px -52px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .fixture_15{
	background-position: -30px -52px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .fixture_2{
	background-position: -60px -52px;
	width: 30px;
	height: 26px;
}
.leftBox .facility li .no{
	background-position: -90px -52px;
	width: 30px;
	height: 26px;
}
.leftBox .lifeBox{
	background: #FFF;
	padding: 20px 0 25px 25px;
}
.leftBox .lifeBox p{
	font-size: 15px;
	margin-bottom: 10px;
}
.leftBox .lifeBox p strong{
	font-size: 15px;
}
.leftBox .houseIntro{
	font-size: 15px;
	background: #FFF;
	padding: 20px 20px 50px 30px;
	word-wrap:break-word;
	word-break:break-all;
}
.leftBox .houseIntro ul {
	list-style: disc;
}
.leftBox .houseIntro ol {
	list-style: decimal;
}
.leftBox .introduce{
	background: #FFF;
	padding: 20px 25px;
}
.leftBox .introduce .introduceLeft , .leftBox .introduce .introduceRight{
	float: left;
}
.leftBox .introduce .introduceLeft .leftOne{
	background: #ABCDEF;
	border-radius: 50px;
	width: 72px;
	height: 72px;
	margin-bottom: 8px;
	overflow: hidden;
}
.leftBox .introduce .introduceLeft .leftTwo{
	font-size: 13px;
}
.leftBox .introduce .introduceRight{
	margin-left: 25px;
}
.leftBox .introduce .introduceRight .last a{
	font-size: 15px;
}
.leftBox .introduce .introduceRight li{
	font-size: 15px;
	margin-bottom: 7px;
}
.leftBox .introduce .introduceRight .last a i{
	color: #FF641C;
	font-style: inherit;
	font-size: 15px;
}
.leftBox .mapBox{
	background: #FFF;
	margin-top: 10px;
}
.leftBox .mapBox .serachTitle{
	padding-top: 20px;
	padding-left: 25px;

}
.leftBox .mapBox .serachTitle li{
	float: left;
	font-size: 15px;
	color: #000;
	margin: 0px 15px;
	padding-bottom: 3px;
	cursor: pointer;
	margin-right: 15px;
}
.leftBox .mapBox .serachTitle .select{
}
.leftBox .mapBox .serachTitle .select span{
	display: block;
	margin-top: 2px;
	border: 2px solid #FF641C;
	border-radius: 5px;
}
.leftBox .banner{
	padding:0 10px 20px 10px ;
}
#mapRound{
	border: none;
}
.leftBox .answerList{
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #E5E5E5;
}
.leftBox .answerList li{
	line-height: 25px;
	color: #333333;
	font-size: 15px;
}
.leftBox .answerList li b{
	font-size: 15px;
	float: left;
	font-weight: normal;
	width: 30px;
}
.leftBox .answerList li span{
	font-size: 15px;
	float: left;
	font-weight: normal;
}
.leftBox .answerList li em{
	font-size: 15px;
	float: left;
	width: 120px;
	color: #999999;
	font-weight: normal;
}
.leftBox .answerList li i{
	font-size: 15px;
	color: #999999;
	float: right;
	font-style: normal;
	width: 150px;
	font-weight: normal;
}
.leftBox .answerList .alOne span{
	font-size: 15px;
	color: #FF641C;
	max-width: 560px;
}
.leftBox .answerList .alOne span em{
	font-style: inherit;
	color: #999999;
}
.leftBox .answerList .alOne span i{
	font-style: inherit;
	color: #999999;
	margin-right: 10px;
	float: right;
}
.leftBox .answerList .alTwo span{
	font-size: 15px;
	color: #333333;
	max-width: 560px;
	padding-right:270px;
	display: block;
}
.leftBox .answerList .alTwo span.host_time{
	display: block;
	padding-left:30px;
	color: #999;
}
.leftBox .last{
	border-bottom: none;
}
.leftBox .last span{
	display: inline-block;
	margin-right:30px;
}
.leftBox .last span em{
	color: #FF7426;
}
.leftBox .willAn{
	font-size: 17px;
	color: #333333;
	margin-bottom: 5px;
}
.leftBox .willAn i{
	float: right;
	margin-right: 10px;
	color: #999999;
	font-style: inherit;
	line-height: 22px;
	font-size: 14px;
}
.leftBox .textarea{

}
.leftBox .textarea textarea{
	width: 860px;
	outline: none;
	resize: none;
	height: 100px;
	padding: 5px;
	border: 1px solid #DADFE5;
	font-family: "微軟正黑體", Arial;
}
.leftBox .btnBox{
	margin-top: 10px;
	color: #999999;
}
.leftBox .btnBox input{
	background: #FF641C;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 3px;
	cursor: pointer;
}
.leftBox .btnBox span i , .leftBox .btnBox span span{
	color: #000;
	font-style: inherit;
}
.bottomTip{
	margin-top: 30px;
	background: #EAEAEA;
	padding: 10px 30px;
}
.bottomTip .first{
	float: left;
}
.bottomTip .second{
	float: left;
	width: 1145px;
	display: block;
}
.leftBox #show{
	width: 870px;
	height: 517px;
	border: none;
}
.leftBox #show .viewer{
	background: #ECECEC;
}
.leftBox #show .thumbnails a img{

}
.leftBox #show .viewer{
	width: 763px;
	height: 517px;
	float: left;
	position: relative;
}
.leftBox #show .viewer .showNum{
	height: 25px;
	position: absolute;
	bottom: 0px;
	width: 60px;
	right: 0px;
	background: #666;
	line-height: 25px;
	opacity: 0.8;
	color: #FFF;
	display: none;
}
.leftBox #show .viewer .showNum .now{
	color: #ff6600;
}
.leftBox #show .viewer .left{
	background: url("../../../images/index/house/newVersion/lefttips.png") 7px center no-repeat ;
	width: 25%;
	height: 517px;
	display: block;
	position: absolute;
	top: 0px;
	left: 10px;
	z-index: 9;
	cursor: pointer;
	display: none;
}
.leftBox #show .viewer .right{
	background: url("../../../images/index/house/newVersion/righttips.png") 95.5% center no-repeat ;
	width: 25%;
	height: 517px;
	display: block;
	position: absolute;
	top: 0px;
	right: 10px;
	cursor: pointer;
	display: none;
}
.leftBox #show .viewer .statInfo{
	position: absolute;
	width: 50%;
	height: 517px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
}
.leftBox #show .imgList{
	float: left;
	width: 104px;
	height: 530px;
	margin-left: 3px;
}
.leftBox #show .prev_control{
	background: url("../../../images/index/house/newVersion/up.png") no-repeat;
	width: 104px;
	height: 26px;
	margin: 0px;
	margin-top: 0px;
	opacity: 1;
}
.leftBox #show .next_control{
	background: url("../../../images/index/house/newVersion/down.png") no-repeat;
	width: 104px;
	height: 26px;
	margin: 0px;
	margin-top: 0px;
	opacity: 1;
}
.leftBox #show .thumbnails{
	width: 104px;
	height: 465px;
	margin: 0px;
}
.leftBox #show .thumbnails ol{
	width: 104px;
	padding: 3px 0px;
}
.leftBox #show .thumbnails li{
	width: 104px;
	height: 75px;
	margin-bottom: 2px;
	background: #ECECEC;
}
.leftBox #show .thumbnails li a{
	width: 104px;
}
.leftBox #show .thumbnails li .selected{
	border: 2px solid #FF641C;
	margin:0 0;
}
.leftBox #show .thumbnails li .selected{
	width: 100px;
	height: 71px;
}

.leftBox #show .thumbnails li img{
	width: 104px;
	margin: 0px;
	padding: 0px;
	height: 75px;
}
.leftBox #show .thumbnails li .selected img{
	width: 100px;
	margin: 0px;
	padding: 0px;
	height: 71px;
}
.leftBox #show .thumbnails li .selected:hover{
	border: 2px solid red;
}
.leftBox .thumbnails ol:last-child{
	margin-bottom: 0px;
}
.leftBox .map_Box{
	border: none;
}
#j_popbox_detailPrice{
	border: none;
}
#j_popbox_detailPrice .popboxContent{
	border: none;
}
#j_popbox_detailPrice .popboxClose{
	display: none;
}
#j_popbox_detailPrice .popboxTitle{
	margin: 0px;
	background: none;
	border-bottom: 1px solid #999;
	padding: 0px;
	height: 50px;
	line-height: 50px;
	position: relative;

}
#j_popbox_detailPrice .popboxTitle .closeBox{
	background: url("../../../images/index/house/newVersion/close_03.png") no-repeat;
	width: 10px;
	height: 9px;
	display: block;
	right: 18px;
	position: absolute;
	bottom: 18px;
	cursor: pointer;
}
#footPic{
	display: none;
}
#newRentDetail{
	width: 1200px !important;
}

#scorllTips{
	position: absolute;
	width: 88px;
	height: 35px;
	line-height: 35px;
	color: #FFF;
	left: -86px;
	text-align: center;
	padding-right: 4px;
	background: url("../../../images/index/house/newVersion/scorllFBG.png") no-repeat left -3px;
}
#container-nav{
	position: relative;
	z-index: 3;
}
#more-house-div{
	background: #FFF;
	margin-top: 10px;
}
#more-house-div .more-house-title{
	margin-top: 10px;
	background: #FFF;
	padding-left: 25px;
	padding-top: 25px;
	padding-right: 25px;
	font-size: 20px;
	color: #000;
}
#more-house-div .list-title{
	padding: 0px 25px;
	margin-top: 15px;
}
#more-house-div .list-title span{
	width: 20%;
	text-align: left;
	display: block;
	float: left;
	height: 34px;
	line-height: 34px;
	color: #989898;
	font-size: 15px;
	border-bottom: 1px solid #eeeeee;
}
#more-house-div .house-list{
	padding: 0px 25px;
}
#more-house-div .house-empty{
	display: none;
}
#more-house-div .house-list li{
	float: left;
	line-height: 34px;
	height: 34px;
	color: #333333;
	width: 20%;
	text-align: left;
	font-size: 15px;
	border-bottom: 1px solid #eeeeee;
}
#more-house-div .more-house-border{
	display: none;
}
#more-house-div .list-info{
	padding-bottom: 15px;
}
#more-house-div .list-info a:last-child li{
	border-bottom: 0px;
}
#more-house-div .house-price b{
	color: #FF3A16;
	font-size: 15px;
}
.answerList .alTwo span a{
	color: #333333;
	font-size: 15px;
	text-decoration: underline;
}
.answerList .alTwo span a:hover{
	color: #F60;
}
.surveyBox{
	width: 298px;
	background: #FFFFFF;
	padding: 10px;
	margin-top: 10px;
	display: none;
}
.survey{
	box-shadow: 0 0 2px 1px #A9D6FD inset;
	border: 1px solid #A9D6FD;
}
.survey .surveyTitle{
	font-size: 15px;
	margin: 20px 0px 15px 20px;
	color: #363636;
	text-align: left;
}
.survey ul{
	width: 70%;
	margin: auto;
}
.survey ul li{
	float: left;
	width: 33.3333%;
	color: #363636;
	font-size: 15px;
}
.survey ul li label{
	cursor: pointer;
}
.survey ul li label input{
	vertical-align: -1px;
}
.survey div{
	text-align: center;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
}
.survey .areaBox{
	margin: 0 20px;
	border-top: 1px solid #F5F5F5;
	display: none;
}
.survey .areaBox p{
	font-size: 15px;
	text-align: left;
	margin: 20px 0 10px 0;
}
.survey .areaBox textarea{
	resize: none;
	border: 1px solid #DBDFE6;
	width: 100%;
	height: 80px;
	padding: 3px;
	text-align: left;
	font-size: 14px;
	font-family: "微軟正黑體", Arial;
}
.survey .areaBox textarea::-webkit-input-placeholder {
	　　color: #999 !important;
}
.survey .areaBox textarea:-moz-placeholder {
　　color: #999 !important;
}
.survey .areaBox textarea:-moz-placeholder {
	　　color: #999 !important;
}
.survey .areaBox textarea:-ms-input-placeholder {
	　　color: #999 !important;
}
.survey div #btnSub{
	outline: none;
	background: #36A3FA;
	border: none;
	color: #FFFFFF;
	width: 140px;
	height: 39px;
	font-size: 15px;
	border-radius: 3px;
	cursor: pointer;
}
/*電話轉接撥打說明*/
div.telTip_popbox {
	font-size:13px;
	text-align:left;
	padding:4px 20px;
	color:#403f3f;
	font-family:Arial, Helvetica, sans-serif;
}
div.telTip_popbox dt {
	padding-left:4px;
	line-height:16px;
	padding-top:10px;
	padding-bottom:8px;
	font-weight:700;
}
div.telTip_popbox dd {
	padding-left:34px;
	line-height:24px;
}
div.telTip_popbox div.tip {
	text-align:center;
	margin-top:8px;
	text-align:left;
	height:50px;
	padding:4px 0px 8px 70px;
	background:url(../../../images/index/public/global/tel_ico.png) 5px 0 no-repeat;
	line-height:22px;
}
div.telTip_popbox p{
	padding:5px 0 0px 5px;
}
div.telTip_popbox em{
	color:#FB001E;
	font-style:normal;
}
div.telTip_popbox ul{
	width:auto;
	padding-top:10px;
}
div.telTip_popbox .cray{
	color:#a7a7a7;
	font-weight:400;
}
div.telTip_popbox a{
	color:#0041D9;
	font-weight:400;
}
div.telTip_popbox a:visited{
	color:#0041D9;
}
div.telTip_popbox a:hover{
	color:#FF6600;
	text-decoration:underline;
}
div.telTip_popbox li{
	background:url(../../../images/index/public/global/phone-list-li.png) no-repeat 0 7px;
	padding-left:10px;
	width:160px;
	font-weight:400;
	line-height:22px;
	float:left;
}
div.telTip_popbox li.other{
	width:120px;
}
.operBox{
	float: right;
	margin-right: 10px;
}
#mapRound .myframe ,#streetRound .myframe{
	width: 100%;
	height:380px;
}
#imageCen{
	width: 100%;
	background: #000;
	opacity: 0.9;
	position: fixed;
	top:0;
	z-index: 999999;
	display: none;
}
#imageCen img{
	border: 1px solid #FFFFFF;
}
.imageContent{
	position: fixed;
	top:0;
	z-index: 1000000;
	display: none;
	left: 0px;
	right: 0px;
	margin: auto;
}
.imageContent .imgClose{
	background: url("../../../images/index/house/newVersion/imgClose.png") no-repeat;
	width: 34px;
	height: 34px;
	position: absolute;
	display: block;
	top:20px;
	right: 20px;
}
#imageCen .imgLeft{
	background: url("../../../images/index/house/newVersion/imgLeft.png") no-repeat;
	width: 48px;
	height: 90px;
	position: fixed;
	display: block;
	left: 20px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
#imageCen .imgRight{
	background: url("../../../images/index/house/newVersion/imgRight.png") no-repeat;
	width: 48px;
	height: 90px;
	position: fixed;
	display: block;
	right: 20px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
.imageContent .imgBox{
	margin-top: 40px;
}
.imageContent .imgBox img{
	width: 1000px;
	border: 1px solid #FFFFFF;
}
.imageContent .imgTitle{
	width: 1000px;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	margin: 20px auto;
}
.imageContent .imgList{
	width: 1213px;
	margin: auto;
	height: 92px;
	overflow: hidden;
}
.imageContent .imgList .prev_control{
	background: url("../../../images/index/house/newVersion/imgLeft.png") no-repeat;
	width: 48px;
	height: 90px;
	position: fixed;
	display: block;
	left: 20px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
.imageContent .imgList .next_control{
	background: url("../../../images/index/house/newVersion/imgRight.png") no-repeat;
	width: 48px;
	height: 90px;
	position: fixed;
	display: block;
	right: 20px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
.imageContent .imgList .thumbnails{
	float: left;
	width: 1173px;
	position: relative;
}
.imageContent .imgList ol{
	width: auto;
	height: 90px;
	overflow: hidden;
	position: absolute;
	padding-right: 3px;
}
.imageContent .imgList li{
	float: left;
	width: 125px;
	background: #FFF;
	margin: 2px auto;
	margin-left: 5px;
}
.imageContent .imgList li a{
	display: block;
	width: 125px;
	height: 85px;
}
.imageContent .imgList li i{
	display: block;
	width: 125px;
	height: 85px;
	background: #999;
	opacity: 0.4;
	position: absolute;
}
.imageContent .imgList li .selected i{
	display: none;
}
.imageContent .imgList li img{
	width: 100%;
	height: 100%;
}

.anti-fraud{
	border: 4px solid #faece6;
	margin-top: 8px;
	background: #fff;
	padding: 12px 15px;
	overflow: hidden;
}

.anti-fraud-icon{
	background: url("../../../images/index/house/newVersion/anti-fraud-icon.png")no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}

.anti-fraud-content{
	margin-left: 30px;
}
.anti-fraud-content strong{
	color: #333333;
	font-size: 15px;
	font-weight: bold;
}
.anti-fraud-content span{
	color: #666666;
	font-size: 15px;
}
.colle-tips{
    font-size: 15px;
    color: #333;
}
.colle-pop-first{
    /*width: 200px;*/
    margin: 30px auto;
}
.colle-pop-first span{
    font-size: 18px;
    color: #123;
    margin-right: 10px;
}
.colle-pop-first a{
	font-size: 18px;
}
.colle-pop-second{
    color: #ccc;
    text-align: center;
    margin-bottom: 15px;
}
.colle-pop-third{

}
.colle-pop-third a{
	float: left;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    width: 110px;
    text-align: center;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 3px;
    display: block;
}
.colle-pop-third a:hover{
    background: #f78b26;
    color: #fff;
    text-decoration: none;
}
.colle-pop-stay{
    float: right;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    width: 110px;
    text-align: center;
    margin-right: 100px;
    cursor: pointer;
    border-radius: 3px;
}
.colle-pop-stay:hover{
	background: #f78b26;
    color: #fff;
}
/* 公告滚动 zhx@addcn.com 201-07-31 start */
.notice-animation{
	position:relative;
	color: #ff8000;
	font-size: 15px;
	margin: 10px 0;
	overflow: hidden;
	background: white;
	height: 36px;
	line-height: 36px;
	border: 1px solid #faece6;
}
.notice-animation ul li a{
	color: #ff8000;
}
#notice-animation-content{
	position: relative;
}
.notice-animation-wrap{
	position: relative;
	overflow: hidden;
	height: 36px;
}
.notice-animation:after{
	position: absolute;
	top: 0px;
	left: 0;
	width: 16px;
	height: 36px;
	content: '';
	background: white url(../../../../images/index/userCenter/notice.png) no-repeat center;
	padding: 0 12px;
}
.notice-animation ul.right-to-left li{
	float: left;
}
.notice-animation ul.static li{
	width: 280px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.notice-animation ul.bottom-to-top li{
	width: 280px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.notice-animation ul li {
	background: none;
	height: 36px;
	line-height: 32px;
	margin-left: 40px;
}
/* 公告滚动 zhx@addcn.com 201-07-31 end */