/*popboxDefault*/
div.popboxDefault {
	position:absolute;
	z-index:99999;
	color:#333333;
	border:10px solid #d9d9d9;	
}
div.popboxDefault div.popboxContent {
	background-color:#fff;
	border:1px solid #999;
	position:absolute;
	z-index:99991;
	left:0;
	top:0;
}
div.popboxDefault div.popboxTitle {
	font-size:15px;
	font-weight:700;
	text-align:left;
	height:36px;
	line-height:36px;
	padding-bottom:14px;
	margin:auto 10px;
	text-indent:14px;
	font-family:simsun;
	background:url(../../../../images/index/public/global/popboxTitle_bg.gif) bottom repeat-x;
}
div.popboxDefault a.popboxClose, div.popboxDefault a:visited.popboxClose {
	background:url(../../../../images/index/public/global/popboxClose_bg.gif) no-repeat;
	width:19px;
	height:19px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:10px;
	right:10px;
	text-align:center;
	background-color:#fc6;
}
div.popboxDefault div.popboxMsg {
	font-size:13px;
}
div.popboxDefault div.popboxloading{
	position:absolute;
	width:32px;
	height:32px;
	background:url(../../../../images/index/public/global/popboxLoading.gif) no-repeat;
}
div.popboxShade{
	background-color:#000000;
	height:100%;
	left:0;
	min-height:100%;
	opacity:0.3;
	filter:alpha(opacity=30);
	position:absolute;
	top:0;
	width:100%;
	z-index:99991;
}

/* popboxNew（例：列表地D）*/
div.popboxNew {
	box-shadow:0 0 10px 5px #7D7F7F;
	position:absolute;
	z-index:99999;
	color:#FFFFFF;
	border:10px solid #ffffff;	
}
div.popboxNew div.popboxContent {
	background-color:#fff;
	position:absolute;
	z-index:99991;
	left:0;
	top:0;
}
div.popboxNew div.popboxTitle {
	font-size:14px;
	font-weight:700;
	text-align:left;
	height:34px;
	line-height:34px;
	text-indent:14px;
	font-family:simsun;
	background:url(../../../../images/index/public/global/popboxNewTitle_bg.gif) bottom repeat-x;
}
div.popboxNew div.popboxTitle span{
	font-size:13px;
	font-weight:normal;
}
div.popboxNew div.popboxTitle span.h{
	color:#f00;
}
div.popboxNew a.popboxClose {
	background:url(../../../../images/index/public/global/popboxNewClose.png) no-repeat;
	width:25px;
	height:25px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:-20px;
	right:-20px;
	text-align:center;
}
div.popboxNew div.popboxMsg {
	font-size:13px;
}
div.popboxNew div.popboxloading{
	position:absolute;
	width:32px;
	height:32px;
	background:url(../../../../images/index/public/global/popboxLoading.gif) no-repeat;
}

/*houseList*/
/*houseList*/
div.houseList {
	position:absolute;
	z-index:99999;
	color:#333333;
	background-clip: padding-box;
	background-color: #fff;
	font-family: "Microsoft YaHei", 微正黑w, "Microsoft JhengHei";

}
div.houseList div.popboxContent {
	position:absolute;
	z-index:99991;
	left:0;
	top:0;
}
div.houseList div.popboxTitle {
	font-family: 微正黑w, "Microsoft JhengHei";
	margin:0 auto;
	font-size:15px;
	font-weight:500;
	padding-left: 10px;
	text-align:left;
	height:40px;
	line-height:40px;
	background: #f5f5f5;
}
div.houseList a.popboxClose, div.houseList a:visited.popboxClose {
	width:19px;
	height:19px;
	font-size: 20px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:10px;
	right:10px;
	text-align:center;
	color:#333;
	background: url("../../../images/index/public/public/close.gif") no-repeat;
	background-size: contain;
}
div.houseList div.popboxMsg {
	font-size:13px;
	padding:10px;
}
div.houseList div.popboxloading{
	position:absolute;
	width:32px;
	height:32px;
	font-size: 32px;
	color: #f50;
}
div.popboxShade{
	background-color:#000000;
	height:100%;
	left:0;
	min-height:100%;
	opacity:0.3;
	filter:alpha(opacity=30);
	position:absolute;
	top:0;
	width:100%;
	z-index:99991;
}
div .popboxClose{
	color: #c2c2c2 !important;
	background: url("../../../images/index/public/public/close.gif") no-repeat;
	width: 26px;
	height: 26px;
}